  <form *ngIf="newPassForm"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group mx-4">
    <label for="usermail">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.usermail"
      required
      #usermail="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && usermail.invalid"
    >
      Email is required!
    </div>
    <div>
      <button class="btn btn-primary btn-block" (click)="sendToken()">Pobierz Token</button>
    </div>
  </div>
  <div class="form-group mx-4">
    <label for="token">Token</label>
    <input
      type="password"
      class="form-control"
      name="token"
      [(ngModel)]="form.token"
      required
      minlength="6"
      #token="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && token.invalid"
    >
      <div *ngIf="token.errors.required">Token is required</div>
      
    </div>
  </div>
  
  <div class="form-group mx-4">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      required
      minlength="6"
      #password="ngModel"
    />
    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div>
  </div>
  <div class="form-group mx-4">
    <button class="btn btn-primary btn-block">
      Wyślij
    </button>
  </div>
  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isTokenFailed"
    >
      Token failed: {{ errorMessage }}
    </div>
  </div>
  </form>



